@{
    ViewData["Title"] = "Home Page";
}

<div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Today is @DateTime.Now</p>
        </p>
    </div>
</div>